h1 {
  color: #232536;
  text-align: center;

  /* Heading H1 */
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  /* 133.333% */
  letter-spacing: -2px;
  margin-bottom: 68px;
}

label {
  display: grid;
  justify-content: center;
}

input {
  max-width: 100%;
  padding: 24px;
  border-radius: 2px;
  border: 1px solid rgba(109, 110, 118, 0.50);
  color: var(--Black, #232536);

  /* Body 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 22px;
  /* 175% */
}

button {
  width: 768px;
  max-width: 100%;
  background: var(--Yellow, #FFD050);
  color: var(--Black, #232536);
  font-size: 24px;
  font-style: normal;
  margin-bottom: 158px;
  border: none;
  margin-top: 50px;
  padding: 16px 0px;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}