* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 83px;
  align-items: center;
}

.black {
  background-color: #232536;
}

header {
  padding: 25px 0px;
  position: fixed;
  width: 100%;
  z-index: 1111;
  order: 1;
}

.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

body {
  font-family: 'Inter', sans-serif;
}

.btn {
  padding: 16px 48px;
  background-color: white;
  border: none;
  color: var(--Black, #232536);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 133.333% */

}

.link {
  color: var(--Light, #FFF);

  /* Body 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-right: 24px;
  /* 175% */
}

ul li {
  margin-right: 59px;
}

/* ul {
  display: flex;
  align-items: center;
} */

.hero {
  padding-top: 820px;
  width: 100%;
  background-image: url("./assets/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.png");
  object-fit: cover;
  background-repeat: no-repeat;
  max-width: 100% !important;
}

.col-6 {
  max-width: 803px;
  margin-top: -600px;
}

.main {
  color: var(--Light, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.bold {
  font-weight: 900;
}

.date {
  color: var(--Light, #FFF);

  /* Body 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
  margin-bottom: 16px;
}

.comment {
  color: var(--Light, #FFF);

  /* Body 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
  margin-bottom: 48px;
}

.btn-hero {
  color: var(--Black, #232536);
  background-color: #FFD050;
  padding: 16px 48px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 133.333% */
}

.icon img {
  margin-right: 26px;
}

footer {
  padding: 66px 0px 86px 0px;
}

.col-4 {
  max-width: 405px;
}

.head {
  max-width: 405px;
}

.col-img {
  max-width: 405px;
}

section {
  padding-top: 149px;
}

.pt {
  padding-top: 130px;
}

.head-col {
  max-width: 1280px;
  background: var(--Lavender, #F4F0F8);
  display: flex;
  justify-content: space-between;
  padding: 83px 87px 109px 87px;
  margin-bottom: 122px;
}

.col-5 {
  max-width: 516px;
  margin-top: 120px;
}

.row {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  /* justify-content: center; */
  justify-content: space-between;
}

.mb {
  margin-bottom: 127px;
}

.footer p {
  color: var(--Dark-Grey, #4C4C4C);

  /* Label 01 */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  padding-left: -100px;
}

.footer p span {
  color: var(--Purple, #592EA9);

  /* Label 01 */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.footer h6 {
  color: #592EA9;
  font-size: 20px;
  line-height: 30px;
}

.footer h5 {
  color: var(--Black, #232536);

  /* Heading H3 */
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 142.857% */
  letter-spacing: -1px;
}

.desc {
  color: var(--Black, #232536);

  /* Heading H3 */
  font-size: 28px;
  opacity: 0.7;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 142.857% */
  letter-spacing: -1px;
  width: 232px !important;
}

.bb {
  border-bottom: 1px solid #6D6E76;
  margin-bottom: 135px;
}

.col-3 {
  width: 296px;
  height: 221.072px;
  flex-shrink: 0;
  border: 1px solid var(--Medium-grey, #6D6E76);
  padding: 31px 32px;
}

.col-3:hover {
  background: var(--Yellow, #FFD050);
  opacity: 1;
  border: 1px solid var(--Medium-grey, #6D6E76);

}

.category {
  margin-bottom: 73px;
}

.col-3 h4 {
  color: black;
  font-size: 20px;
  line-height: 30px;
}


.link-post {
  font-weight: 700;
  color: black;
  font-size: 20px;
  line-height: 30px;
}

.col-12 {
  display: flex;
}

.col-12 .head img {
  max-width: 547px;
}

.col-12 .footer {
  margin-left: 150px;
  width: 673px !important;
}

.mt {
  padding-top: 200px;
}

.int {
  margin-bottom: 54px;
  width: 100%;
}

.log {
  margin-bottom: 0px;
}